input {
  color: white;
  font-family: "Plus Jakarta Sans";
}

.container-video {
  display: flex;
  margin-bottom: 100px;
  height: 100dvh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  opacity: 40%;
}

.container-welcome {
  position: relative;
  width: 100%;
  height: 100%;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  left: 10%;
  top: 40%;
  position: absolute;
}

.title p {
  font-size: 20px;
}

.title .bottom {
  margin-top: -20px;
  margin-left: 50px;
}

.title h1 {
  margin-top: -35px;
  font-size: 100px;
  letter-spacing: -5px;
}

.container {
  display: flex;
  padding: 20px;
  gap: 10px;
  flex-direction: column;
}

.container .header {
  font-size: xx-large;
  font-weight: 900;
}

.container .field {
  display: flex;
  width: 800px;
  gap: 10px;
  flex-direction: column;
}

.home {
  margin-top: 50px;
}

.container .field .logo-item {
  display: flex;
}

.contact {
  justify-content: center;
  align-items: center;
}

.contact .field {
  width: fit-content;
}

.contact .field form {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.contact .field form input {
  border-radius: 20px;
  padding: 10px 20px;
  width: 400px;
  background: none;
  outline: none;
  transition: 0.2s;
  border: 1px solid white;
  opacity: 50%;
}

.contact .field form textarea {
  border-radius: 20px;
  padding: 20px 20px;
  width: 400px;
  background: none;
  outline: none;
  transition: 0.2s;
  border: 1px solid white;
  color: white;
  opacity: 50%;
}

.contact .field form input:hover {
  border: 1px solid white;
  opacity: 100%;
}

.contact .field form textarea:hover {
  border: 1px solid white;
  opacity: 100%;
}

.contact .field form button {
  width: 442px;
  border-radius: 20px;
  border: 1px solid white;
  outline: none;
  padding: 10px 20px;
  opacity: 50%;
  color: black;
  background-color: white;
  transition: 0.2s;
}

.contact .field form button:hover {
  border: 1px solid white;
  opacity: 100%;
  cursor: pointer;
}

.preview {
  margin-top: 30px;
}

.preview .preview-item {
  display: grid;
  grid-template: 300px 300px / auto auto;
  gap: 10px;
  position: relative;
}

.preview .header {
  width: auto;
  text-align: center;
  font-size: 50px;
  margin-bottom: 10px;
  font-family: "Boldonse";
}

.preview .field .field-desc {
  margin-top: 20px;
  text-align: center;
}

.preview .preview-item .item video {
  opacity: 50%;
}

.preview .preview-item .item .desc {
  position: absolute;
  margin: 20px;
  z-index: 10;
  font-size: 50%;
}


.footer {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  border-top: 0.5px solid rgba(255, 255, 255, 0.5);
  padding: 80px;
  align-items: center;
  gap: 90px;
  width: 100dvw;
  min-height: 300px;
}

.footer .field {
  display: flex;
  gap: 90px;
  width: 850px;
}

.footer .field .item {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer .field .item {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer .field .item .header {
  font-size: large;
  font-weight: 900;
}

.footer .field .item .items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: small;
}
