input {
  color: white;
  font-family: "Stack Sans Text";
}

textarea {
  font-family: "Stack Sans Text";
}

.container-video {
  display: flex;
  margin-bottom: 100px;
  height: 100dvh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  opacity: 40%;
}

.container-welcome {
  position: relative;
  width: 100%;
  height: 100%;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  left: 10%;
  top: 40%;
  position: absolute;
  font-family: 'Stack Sans Headline';
}

.title p {
  font-size: 20px;
}

.title .bottom {
  margin-top: -20px;
  margin-left: 50px;
}

.title h1 {
  margin-top: -35px;
  font-size: 100px;
  letter-spacing: -5px;
}

.container {
  display: flex;
  /* padding: 20px; */
  gap: 10px;
  flex-direction: column;
  max-width: 800px;
  padding: 0 40px;
}

.container .header h1 {
  font-size: xx-large;
  font-weight: 900;
  font-family: 'Stack Sans Headline';
}

.container .header p {
  font-weight: 900;
  font-size: 14px;
  font-family: 'Stack Sans Text';
  opacity: 70%;
}

.container .field {
  display: flex;
  gap: 10px;
  flex-direction: column;
  font-family: 'Stack Sans Text';
}

.container .field p {
  opacity: 80%;
}

.home {
  margin-top: 50px;
}



.container .field .logo-item {
  display: flex;
}

.contact {
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.contact .header {
  margin-bottom: 50px;
}

/* .contact .field {
  width: fit-content;
} */
.contact .field {
  display: flex;
  flex-direction: row;
}

.contact .field .info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact .field .info .info-contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact .field .info .info-contact p {
  display: flex;
  gap: 5px;
}

.contact .field form {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.contact .field form input {
  border-radius: 10px;
  padding: 10px 15px;
  width: 300px;
  background: none;
  outline: none;
  transition: 0.2s;
  /* border: 1px solid white; */
  box-shadow: 0 0 0 1px white;
  /* opacity: 50%; */
}

.contact .field form textarea {
  border-radius: 10px;
  padding: 20px 20px;
  /* width: 400px; */
  background: none;
  outline: none;
  transition: 0.2s;
  /* border: 1px solid white; */
  box-shadow: 0 0 0 1px white;
  color: white;
  /* opacity: 50%; */
}

.contact .field form input:hover {
  background-color: rgb(43, 43, 43);
  opacity: 100%;
}

.contact .field form textarea:hover {
  background-color: rgb(43, 43, 43);
  opacity: 100%;
}

.contact .field form button {
  /* width: 442px; */
  border-radius: 20px;
  border: 1px solid white;
  outline: none;
  padding: 10px 20px;
  opacity: 50%;
  color: black;
  background-color: white;
  transition: 0.2s;
}

.contact .field form button:hover {
  border: 1px solid white;
  opacity: 100%;
  cursor: pointer;
}

.preview {
  margin-top: 100px;
}


/* .preview .preview-item {
  display: grid;
  grid-template: 300px 300px / auto auto;
  padding: 0 200px;
  gap: 10px;
  position: relative;
} */

.preview .preview-item-column {
  display: flex;
  gap: 10px;
}


/* .item {
  width: 3000px;
} */

 .preview .header h1{
  width: auto;
  text-align: center;
  font-size: 50px;
  margin-bottom: 10px;
  font-family: "Stack Sans Headline";
}

.preview .header p{
  width: auto;
  text-align: center;
  font-size: 14px;
  font-family: "Stack Sans Text";
  opacity: 80%;
}

.preview .field .field-desc {
  margin-top: 20px;
  text-align: center;
} 

 .preview .preview-item-column .item {
  /* background-color: brown; */
  border-radius: 10px;
  position: relative;
  transition: 0.5s;
}

.preview .preview-item-column .item:hover {
  scale: 101%;
  cursor: pointer;
  opacity: 50%;
}

.preview .preview-item-column .item video {
  opacity: 50%;
}

.preview .preview-item-column .item .desc {
  position: absolute;
  margin: 20px;
  z-index: 10;
  font-size: 10px; 
} 


.footer {
  font-family: 'Stack Sans Headline';
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  border-top: 0.5px solid rgba(255, 255, 255, 0.5);
  padding: 80px;
  align-items: center;
  gap: 90px;
  width: 100dvw;
  min-height: 300px;
}

.footer .field {
  display: flex;
  width: 100%;
  max-width: 980px;
  padding-left: 200px;
  gap: 90px;
}

.footer .field .item {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer .field .item {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer .field .item .header {
  font-size: large;
  font-weight: 900;
}

.footer .field .item .items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: small;
  opacity: 80%;
}

.footer .copyright {
  opacity: 50%;
}
