@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: "Plus Jakarta Sans";
    background-color: black;
}
a{
    text-decoration: none;
}

.navbar{
    display: flex;
    position: fixed;
    width: 100dvw;
    bottom: 0;
    margin-bottom: 20px;
    justify-content: center;
}
.navbar .item{
    width: fit-content;
    display: flex;
    bottom: 0;
    background-color: white;
    margin: 10px;
    border-radius: 20px;
    padding: 0px 10px;
}
.navbar .navbar-item{
    font-size: smaller;
    margin: 10px 10px;
    color: black;
    transition: 0.2s;
}
.navbar .navbar-item:hover{
    scale: 110%;
    cursor: pointer;
}


