@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Boldonse&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  overflow-y: hidden;
}

html {
  scroll-behavior: smooth;
  overflow-y: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: "Plus Jakarta Sans";
  background-color: black;
  /* padding-bottom: 500px; */
  height: 100dvh;
  /* width: 100dvw; */
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}
